<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Proyecto CRUD</title>
    {{>scripts}}
    </head>
    <body class=>

        {{>navbar}}

        {{!-- <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
            featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/insertProduct" role="button">Learn more</a>
        </p>
        </div> --}}
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Bienvenido</h1>
                <p class="col-md-8 fs-4">Esta es mi página web como proyecto final de la clase de programación web.</p>
                <p class="col-md-8 fs-4">Profesor: Jose de Jesus Parra Galaviz</p>
            </div>
        </div>

    {{{body}}}

            <!-- Footer o pie de pagina-->
        <footer class="footer mt-auto py-3 bg-light fixed-bottom">
            <div class="container text-center">
                <span class="text-muted">Cesar Manuel Ramirez Cervantes. Copyright &copy; 2021.</span>
            </div>
        </footer>
    </body>
</html>
